*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "urbanist";
    text-decoration: none;
    list-style: none;
}
body {
    background: #14110E;
}
button {
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
}

.primary--btn {
  padding: 20px 36px;
  background: #C99E71;
  color: #fff;
  font-size: 18px;
  line-height: 130%;
  font-family: 'inter';
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  cursor: pointer;
}

.primary--btn.icon {
  width: 24px;
  height: 24px;
}

.container {
    border: 1px solid white;
    max-width: 1320px;
    width: 100%;
    margin: 0 auto;
    padding: 16px;
}

/* header */

header {
    background: #1C1814;
    padding: 32px 0;
}

.container__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a {
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
    color: white;
    transition: 0.3s;
}

.nav-bar ul {
    display: flex;
    align-items: center;
    gap: 48px;
}

.container__nav a:hover {
    color: #C99E71;
}

.nav-Bar ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 48px;
}

/* hero */



.hero {
  background: url('../img/Rectangle\ 12.jpg') center center / cover no-repeat;
  height: 735px;
  display: flex;
  align-items: center;
}
  
.hero__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
  
.hero__content--info {
  display: flex;
  flex-direction: column;
  gap: 50px;
  width: 529px;
}
  
.hero__content--info h1 {
  font-size: 72px;
  line-height: 130%;
  color: #fff;
  font-family: 'righteous';
  font-weight: 700;
}
  
.hero__content--info p {
  font-size: 20px;
  line-height: 180%;
  color: #fff;
  font-family: 'urbanist';
}
  
.hero__content--info a {
  font-size: 18px;
  line-height: 130%;
  color: #fff;
  font-family: 'inter';
  background: #C99E71;
  align-self: flex-start;
  padding: 20px;
  text-transform: uppercase;
}
.main__content {
  display: flex;
  flex-direction: column;
  gap: 140px;
  padding: 140px 16px;
}


  /* card */


.main__content {
  display: flex;
  flex-direction: column;
  gap: 140px;
  /* padding: 140px 16px; */
}


section {
  border: 1px solid white;
}

.card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 36px;
}

.card--art {
  gap: 24px;
  display: flex;
  flex-direction: column;

}

.card--art h3 {
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color:#fff;
  display: flex;
  text-align: center;
  gap: 12px;
}

.card--art h3 span {
  color:#C99E71; ;
}

.card--art img {
  width: 100%;
}

/* news */

.news {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 32px;
  padding-top: 140px;
}

.news--img {
  display: flex;
  flex-direction: column;
  gap: 32px;
}


.news--content{
  height: 636px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 56px;
  background: #1C1814;
}

.section--suptitle {
  font-size: 18px;
  line-height: 22px;
  color: #C99E71;
  font-weight: 600;
}

.section--title {
  font-size: 48px;
  line-height: 130%;
  color: #fff;
  font-family: 'righteous';
  font-weight: 700;
  margin: 12px 0 36px;
}

.news--content p {
  font-size: 16px;
  line-height: 180%;
  color: #fff;
  font-weight: 500;
  text-transform: capitalize;
}


/* product */


.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* padding-top: 140px; */
}


.product--card {
  display: flex;
  align-content: center;
  gap: 36px;
  margin-bottom: 36px;
}

.product--card-art {
  background: #121315;
  padding: 48px 48px 40px 48px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 36px;
}


.praduct--card--title {
  display: flex;
  align-items: center;
  gap: 13px;
}

.product--card--star {
  display: flex;
  align-items: center;
  gap: 4px;
}

.product--card-art .product--card--star .icons{
  width: 20px;
  height: 20px;
}


.praduct--card--title span {
  font-size: 16px;
  line-height: 130%;
  color: #C99E71;
  font-weight: 500;
  text-transform: uppercase;
}

.product--card-art h3{
  font-weight: 500;
  font-size: 24px;
  line-height: 130%;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
}


.product--cart {
  position: relative;
  align-self: stretch;
}

.product--cart p {
  font-size: 18px;
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
  position: absolute;
  top: -20px;
  left: 50%;
  transform: translate(-50%, 0);
  text-align: center;
}

.product--cart p span {
  color: #C99E71;
}


.product--card-art .primary--btn {
  transition: all 0.3s linear;
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translate(-50%, 0) scale(0);
  width: 100%;
}


.product--card-art:hover .primary--btn {
  transform: translate(-50%, 0) scale(1);
}



